.top-header{
    margin-top: 20px;
}
nav img{
    width: 60px;
}

nav ul li{
    margin-right: 8px;
    font-weight: 700;
    font-size: 18px;
}
.nav-link{
    color: rgba(0,0,0,.9) !important; 
}
nav .active{
    border: 1px solid lightgray;
    border-radius: 8px;
   
}
nav ul li a:hover{
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 2px 2px 8px grey;
    background-color: lightgray;
}
.carousel {
    margin: 20px 0px 50px 0px;
    border: 2px solid lightgray;

}
.border{
    border: 2px solid red;
}
.carousel-inner img{
    height: 450px;
}
.portfolio{
    margin-top: 50px;
    
}
.portfolio h2{
    padding-bottom: 5px;
    font-weight: 600;
    border-bottom: 1px solid gray;
    background: -webkit-linear-gradient(#686de0, #130f40);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.portfolio p{
    color: grey;
    font-size: 14px;
    font-weight: 600;
}
.left-side{
    width: 70%;
    padding: 30px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 8px;
    margin-right: 25px;
    background-color: lightgray;
}
.left-side ul li{
    background-color: lightgray;
}
.right-side{
    text-align: center;
    width: 25%;
    padding: 30px;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 8px;
    background-image: linear-gradient(rgb(241, 241, 241), white) ;
}
.right-side h4{
    padding-bottom: 15px;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    background: -webkit-linear-gradient(#686de0, #130f40);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right-side h5{
    margin-top: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 1px solid rgb(231, 228, 228);
    background: -webkit-linear-gradient(#686de0, #130f40);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right-side ul{
    text-decoration: none;
}
.services{
    margin-top: 50px;
}
.services h2{
    display: inline-block;
    margin-left: 35%;
    padding-bottom: 5px;
    font-weight: 600;
    background: -webkit-linear-gradient(#686de0, #130f40);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services h2:hover{
    font-size: 40px;
    text-shadow: 2px 2px dimgray;
}
.card-title{
    font-weight: 700;
    color: black;
}
.card-text{
    color: #666666;
    font-size: 15px;
    line-height: 1.80857;
}
footer p{
    background-color: lightgray;
    margin: 20px 0px;
    padding: 15px 0px;
    text-align: center;
    border-radius: 5px;
}

